@using Microsoft.AspNet.Identity
@using FormsAuthenticationExtensions;
@using System.Web.Security;
@using TranslationReg.Controllers

@{
    // получение данных об аватарке
    string avatarPath = null;
    if (User.Identity is FormsIdentity)
    {
        var ticketData = ((FormsIdentity)User.Identity).Ticket.GetStructuredUserData();
        if (ticketData != null)
        {
            avatarPath = ticketData["avatarPath"];
        }
    }
    // не получили - дефолтная аватарка
    if (string.IsNullOrEmpty(avatarPath))
    {
        avatarPath = Path.Combine(Helper.uploadDir, Helper.avatarsDir, Helper.defaultAvatar);
    }
}
<div>

    @if (avatarPath != null)
    {
        <div class="avatar-container">
            <img src="@Url.Content("~/"+ avatarPath)" />
        </div>
    }

    @if (Request.IsAuthenticated)
    {
            <div class="hello">
                Здравствуйте,   @User.Identity.Name!
            </div>
    }
</div>

<style>
    .hello {
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
        display: block;
        margin: auto;
        color: white;
    }

    .avatar-container {
        height: 60px;
        padding: 10px;
        width: 100%;
    }

        .avatar-container > img {
            align-self: center;
            display: block;
            margin: auto;
        }
</style>