@model TranslationReg.Models.LanguagesModel

<div>
    <!-- карточки языков -->
    <div class="col-md-6 cardset-container languages-cardset">

        <!-- карточка добавления -->
        <div id="addLanguage">
            <div class="card card-language">
                <div class="card-header lang-header">
                    <p>Добавить язык</p>
                </div>
                <div class="add-card-content ajaxToggleBtn" data-href="/Languages/AddCard" data-ajax-update="#addLanguage" >
                    <i class="fa fa-plus-circle addCardIcon" style="font-size:100px; float:left; padding:10px;" ></i>
                    <p style="float:right; margin: 0;padding: 10px;color: #3e5983;font-weight: bold;text-align: center;font-size: 24px; align-self: center;" >
                        Click to add Language
                    </p>
                </div>
            </div>
        </div>
        <!-- языки -->
        @foreach (var language in Model.languages)
        {
            <div id="language@(language.Id)">
                @Html.Partial("../Languages/Card", language)
            </div>
        }
    </div>

    <!-- карточки языковых пар -->
    <div class="col-md-6 cardset-container languagePairs-cardset">

        <!-- карточка добавления -->
        <div id="addLanguagePair">
            <div class="card card-langPair">
                <div class="card-header pair-header">
                    <p>Добавить языковую пару</p>
                </div>
                <div class="add-card-content ajaxToggleBtn" data-href="/LanguagePairs/AddCard" data-ajax-update="#addLanguagePair">
                    <i class="fa fa-plus-circle addCardIcon" style="font-size:150px; float:left; padding:10px;"></i>
                    <p style="float:right; margin: 0;padding: 20px 20px;color: #3e5983; font-weight: bold;text-align: center;font-size: 24px; align-self: center;">
                        Click to add Language pair
                    </p>
                </div>
            </div>
        </div>
        <!-- языковые пары -->
        @foreach (var languagePair in Model.languagePairs)
        {
            <div id="languagePair@(languagePair.Id)">
                @Html.Partial("../LanguagePairs/Card", languagePair)
            </div>
        }
    </div>
</div>

<style>
    /*-------------------------- контейнеры карт --------------------------*/

    /* контейнер списка карт */
    .cardset-container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 40px;
    }

    /* конкретные контейнеры списков карт */
    .languages-cardset {
    }

    .languagePairs-cardset {
        border-left: 2px solid #e4e4e4;
    }
    /*--------------------------------------------------------------------------------*/

    .card {
        padding: 0px;
        margin: 0 5px 30px 5px;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        box-shadow: -6px 5px 12px 1px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: 1px solid lightgray;
        overflow: hidden;
    }

    .card-language {
        width: 300px;
        height: 180px;
        background-color: #fffefc;
    }

    .card-langPair {
        width: 360px;
        height: 240px;
        background-color: #fcfcff;
        border-radius: 10px;
    }

    .card-content {
        padding: 0 5px;
        overflow: hidden;
    }

    .card-row {
        display: flex;
        border-bottom: 1px solid #e4e4e4;
        height: 60px;
    }

        .card-row:last-of-type {
            border: none;
        }

    .card-property {
        font-size: 24px;
        color: #626262;
        text-align: left;
        display: flex;
        padding: 10px;
    }

    .card-value {
        font-weight: bold;
        font-size: 24px;
        color: #333333;
        text-align: left;
        display: flex;
        padding: 10px;
    }

        .card-value > p, .card-property > p {
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            align-self: center;
        }

        .card-value > p {
            text-overflow: ellipsis;
        }

    .card-property > p {
        white-space: nowrap;
        align-self: center;
    }

    .add-card-content {
        padding: 0 10px;
        overflow: hidden;
        display: flex;
    }

    .addCardIcon {
        color: lightgray;
    }
    /*----------------------------------- ХОВЕР НА КАРТУ -----------------------------------*/
    .card:hover {
        box-shadow: -13px 11px 25px 1px rgba(0, 0, 0, 0.55);
        transition: 0.3s;
    }

        .card:hover .lang-header {
            transition: 0.3s;
            background-color: #fbab72;
            border-bottom: solid 2px #b12323;
        }

        .card:hover .pair-header {
            transition: 0.3s;
            background-color: #979eef;
        }

        .card:hover .card-content {
            transition: 0.3s;
            background-color: #ffffff;
        }

    .card-language:hover .myicon {
        transition: 0.3s;
        color: #ff6a00;
    }

    .card-langPair:hover .myicon {
        transition: 0.3s;
        color: #1265f8;
    }

    /*------------------------------------------------------------------------------------*/



    /*----------------------------------- ХЕДЕРЫ КАРТОЧЕК -----------------------------------*/

    .card-header {
        display: flex;
        justify-content: space-between;
        border-radius: 10px 10px 0 0;
    }

        .card-header > p {
            margin: 0;
            padding: 10px 15px;
            color: #333333;
            font-weight: bold;
            text-align: left;
            font-size: 24px;
            vertical-align: middle;
        }

    .pair-header {
        background-color: #bccee5;
        border-bottom: solid 2px #4f7a9a;
    }

    .lang-header {
        background-color: #e5cdbc;
        border-bottom: solid 2px #b12323;
    }

    .card-header > div {
        display: flex;
    }

        .card-header > div a {
            padding: 0;
            color: #333333;
            margin-right: 10px;
            align-self: center;
            text-decoration: none;
        }

    /*------------------------------------------------------------------------------------------*/

    .card-btn {
        float: right;
        margin-right: 10px;
        text-shadow: none;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
        color: #333333;
        vertical-align: middle;
        align-self: center;
    }

        .card-btn:hover {
            color: #000000;
            text-shadow: 2px 2px 4px #427388;
        }


    .card-property-edit {
        font-size: 20px;
        color: #626262;
        text-align: left;
        display: flex;
    }

    .card-value-edit {
        font-weight: bold;
        font-size: 20px;
        color: black;
        text-align: left;
        display: flex;
        padding: 0px;
    }

    .card-row-edit {
        display: flex;
        height: 40px;
    }

    .card-property-edit > p {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        align-self: center;
        padding: 5px;
    }

    .card-value-edit > input, select {
        margin: 5px !important;
        overflow: hidden;
        white-space: nowrap;
        align-self: center;
        padding: 5px;
    }
</style>