@model TranslationRegistryModel.Language

@using (Html.BeginForm("Edit", "Languages"))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <div class="card card-language card-container">
        <div class="card-header lang-header">
            <p>Language</p>
            <a class="fa fa-arrow-circle-left card-btn"  style="font-size:36px" href="/Languages/Cards" ></a>
        </div>
        <div class="card-content">
            <div class="card-row-edit">
                <div class="card-property-edit col-md-4"><p>Name:</p></div>
                <div class="card-value-edit col-md-8">
                    @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control", requred = "required" } })
                </div>
            </div>

            <div class="card-row-edit">
                <div class="card-property-edit col-md-4"><p>Abbr.:</p></div>
                <div class="card-value-edit col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", requred = "required" } })
                </div>
            </div>
            <div class="card-row-edit">
                <div class="card-value-edit col-md-8 col-md-offset-4">
                    <input type="submit" value="Сохранить" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#language@(Model.Id)" href="/Languages/Item/@Model.Id" class="btn btn-default btn-form" />
                </div>
            </div>
        </div>
    </div>
}

<style>
    .card-property-edit {
        font-size: 20px;
        color: #626262;
        text-align: left;
        display: flex;
    }

    .card-value-edit {
        font-weight: bold;
        font-size: 20px;
        color: #333333;
        text-align: left;
        display: flex;
    }

    .card-row-edit {
        display: flex;
        height: 40px;
    }

    .card-property-edit > p {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        align-self: center;
        padding: 5px;
    }

    .card-value-edit > input {
        margin: 5px !important;
        overflow: hidden;
        white-space: nowrap;
        align-self: center;
        padding: 5px;
    }
</style>