@model TranslationRegistryModel.Language
@using (Html.BeginForm("Edit", "Languages"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="card card-orange small-card">

        <div class="card-header">
            <p>Редактировать язык</p>
            <div>
                <a class="fa fa-arrow-circle-left card-btn" href="/Languages/Cards"></a>
            </div>
        </div>

        <div class="card-content">

            <div class="card-row">
                <div class="card-property"><p>Название:</p></div>
                <div class="card-value">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required", autofocus = "autofocus" } })
                </div>
            </div>

            <div class="card-row">
                <div class="card-property"><p>Сокращение:</p></div>
                <div class="card-value">
                    @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                </div>
            </div>

            <div class="card-row">
                <div class="card-property"></div>
                <div class="card-value">
                    <input type="submit" value="Сохранить" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#language@(Model.Id)" 
                           href="/Languages/Item/@Model.Id" class="btn btn-default btn-form form-control" />
                </div>
            </div>

        </div>
    </div>
}