@model TranslationReg.Models.LanguagesModel

@Html.Partial("../Languages/List", Model.languages)
@Html.Partial("../LanguagePairs/List", Model.languagePairs)

@section scripts {
    <script>
        $(document).ready(function () {
            $(".editBtn").click(function () {
                $(this).toggleClass("glyphicon-edit");
                $(this).toggleClass("glyphicon-arrow-up");
                // изначально display:none, описанов MyAppStyles.css
                updatedBlock = $(this).attr("data-ajax-update");
                $(updatedBlock).toggle();
            });
        });

        //$(document).ready(function () {
        //    $(".deleteBtn").click(function () {
        //        $(this).toggleClass("glyphicon-remove");
        //        $(this).toggleClass("glyphicon-arrow-up");
        //        // изначально display:none, описанов MyAppStyles.css
        //        updatedBlock = $(this).attr("data-ajax-update");
        //        $(updatedBlock).toggle();
        //    });
        //});

        $(document).ready(function () {
            $(".createBtn").click(function () {
                $(this).toggleClass("glyphicon-remove");
                $(this).toggleClass("glyphicon-arrow-up");
                // изначально display:none, описанов MyAppStyles.css
                updatedBlock = $(this).attr("data-ajax-update");
                $(updatedBlock).toggle();
            });
        });

        $(".deleteBtn").on("click", function (e) {
            e.preventDefault();
            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    height: 300,
                    width: 500,
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true
                })
                .load(this.href);
        });
    </script>
}