.delete-header {
    /*background-color: #ad5e5e;*/
    background-color: #c42d5b;
    color: white;
}

.modal-row {
    MARGIN-LEFT: 16%;
    height: 30px !important;
}

.btn-delete {
    background-color: #c42d5b;
    color: white;
    width: 120px;
    float: left;
}
.dangerIcon {
    color: #c42d5b;
    text-align: center;
    
}

.modal-body{
    padding:25px;
}