.blue-modal-header {
    background-color: #3d5279;
    color: white;
    border-bottom: 2px solid #1e2f4f;
}

.btn-modal-save {
    background-color: #3d5279;
    color: white;
    width: 120px;
    float: left;
}
    .btn-modal-save:hover {
        background-color: #c42d5b;
        color: white;
    }
