/*body {
    background-image: url(images/SiteBg.jpg); 
    background-color: #e8e8e8; 
}*/

.dynamicBlock{
    display: none;
}

.titleLink {
    margin: auto;
    font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    text-align: center;
}

.formContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.myForm {
    margin-top: 10px;
    padding: 10px;
}

.myTitles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}
.myTitles > div {
    text-align: center;
    background-color: #d6d6d6;
    height: 55px;
    font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 55px;
}

.myProp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
.myProp > div {
    padding: 10px 0;
    text-align: center;
    height: 55px;
    font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.myProp:hover {
    background-color: #e8e8e8;
}


.languageTitles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.languageTitles > div{
    width: 34%;
    text-align: center;
    background-color: #d6d6d6;
    height: 55px;
    font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 55px;
}

.languageProp{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.languageProp > div{
    padding: 10px 0;
    width: 33%;
    text-align: center;
    height: 55px;
    font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.languageProp:hover{
    background-color: #e8e8e8;
}