@model TranslationRegistryModel.DocStage

<div class="float-label">
    <div class="control">
        <span id="WorkType-name">@Model.WorkType.Name</span>
    </div>
    <div class="control-buttons">
        <div class="control small">
            <a data-ajax-update="#addUserStageForm@(Model.Id)" data-href="/User_Stage/Create/@Model.Id" id="addWork" class="btn btn-primary ajaxToggleBtn">Добавить исполнителя</a>
        </div>
        <div class="control small">
            <a class="btn btn-danger deleteBtn" data-href="/DocStages/Delete/@Model.Id" id="deleteWork" data-dialog-title="Удаление стадии">Удалить стадию</a>
        </div>
    </div>
</div>
<div id="addUserStageForm@(Model.Id)" class="dynamicBlock dynamic-block-add-stage"></div>

@if (Model.User_Stage != null && Model.User_Stage.Count != 0)
{
    <div class="inner-list div-table">
        @Html.Partial("../User_Stage/List", Model.User_Stage.ToList())
    </div>
}