@model TranslationRegistryModel.DocStage

<div class="float-label">
    <div class="control">
        <span id="WorkType-name">@Model.WorkType.Name</span>
    </div>
    <div class="control-buttons">
        <div class="control small">
            <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#addUserStageForm@(Model.Id)"
               href="/User_Stage/Create/@Model.Id" id="addWork" class="btn btn-primary createBtn">Добавить работу</a>
        </div>
        <div class="control small">
            <a class="btn btn-danger deleteBtn" href="/DocStages/Delete/@Model.Id" id="deleteWork" data-dialog-title="Удаление записи">Удалить стадию</a>
        </div>
    </div>
</div>
<div id="addUserStageForm@(Model.Id)" class="dynamicBlock"></div>

@if (Model.User_Stage != null && Model.User_Stage.Count != 0)
{
    <div class="inner-list div-table">
        @Html.Partial("../User_Stage/List", Model.User_Stage.ToList())
    </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $(".createBtn").click(function () {
                updatedBlock = $(this).attr("data-ajax-update");
                // изначально display:none, описанов MyAppStyles.css
                $(updatedBlock).toggle("fast");
            });
        });

        $(".deleteBtn").on("click", function (e) {
            e.preventDefault();
            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    height: 300,
                    width: 500,
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true
                })
                .load(this.href);
        });
    </script>
}