
.search-container{
    text-align:center;
}

.search-form-wrapper {
    display: inline-block;
}
.search-form-wrapper input {
    width: 170px;
    height: 30px;
    float: left;
    border: 0;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    max-width: none;
    padding: 5px 10px;
    font-size: 14px;
}
    .search-form-wrapper input:focus {
        outline: 0;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    .search-form-wrapper input::-webkit-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    .search-form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    .search-form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }

.search-form-wrapper button {
    overflow: visible;
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 60px;
    color: #fff;
    background: #282828;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0,0, .3);
}
    .search-form-wrapper button:hover {
        background: #c42d5b;
    }

    .search-form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #282828 transparent;
        top: 8px;
        left: -5px;
    }
    .search-form-wrapper button:active,
    .search-form-wrapper button:focus {
        transition: 0.2s;
        background: #c42d5b;
    }
    .search-form-wrapper button:hover:before {
        border-right-color: #c42d5b;
    }
    .search-form-wrapper button:focus:before {
        border-right-color: #c42d5b;
    }
    .search-form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
