.filters {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
}

    .filters li {
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
    }

        .filters li a {
            align-self:center;
            padding: 6px 10px;
            color: white;
            text-decoration: none;
            background-color: #3d5279;
            box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
            margin: 5px;
        }

            .filters li a:hover {
                transition: 0.3s;
                background: #c42d5b;
            }

.filter-active {
    background: white !important;
    color: #c42d5b !important;
}

.buttonsContainer {
    padding-left: 50px;
}

.buttons {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

    .buttons li {
        display: inline-block;
        cursor: pointer;
    }

        .buttons li div {
            display: flex;
            padding: 6px 10px;
            text-decoration: none;
            transition: 0.3s;
            background: #3d5279;
            color: white !important;
            opacity: 0.9;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
            margin: 5px;
        }

            .buttons li div:hover {
                color: #d41955 !important;
                background-color: white;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
            }

.disabled-filter-btn {
    background-color: #585267 !important;
    color: white !important;
    cursor: not-allowed;
}
