.filters {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

    .filters li {
        display: inline-block;
    }

        .filters li a {
            display: block;
            padding: 8px 10px;
            color: black;
            text-decoration: none;
            transition: 0.3s;
            background-color: white;
            opacity: 0.9;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
            margin: 5px;
        }

            .filters li a:hover {
                color: #d41955 !important;
                background-color: white;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
            }

.filter-active {
    background: #3d5279 !important;
    color: white !important;
}

.filterContainer{
    padding-left:50px;
}