@model TranslationReg.Models.SearchDocsAndProjectsModel
<div>
    @{
        var projectsFound = Model.Projects != null && Model.Projects.Count != 0;
        var documentsFound = Model.Documents != null && Model.Documents.Count != 0;
    }
    @if (!projectsFound && !documentsFound)
    {
        <h3>По запросу "@Model.searchToken" ничего не найдено!</h3>
    }
    else
    {
        if (projectsFound)
        {
            <h3>Найденные проекты</h3>
            @Html.Partial("..//Projects//List", Model.Projects);
        }
        if (documentsFound)
        {
            <h3>Найденные документы</h3>
            @Html.Partial("..//Documents//List", Model.Documents);
        }
    }
</div>
