@using TranslationRegistryModel
@model TranslationRegistryModel.Project
<div>
    <!-- todo привести к нормальному виду-->>
    <h3>Вы уверены, что хотите удалить данную запись?</h3>
    <div>
            <p>Название</p>
            <p>@Html.DisplayFor(model => model.Name)</p>

            <p>Заказчик</p>
            <p>@Html.DisplayFor(model => model.Customer)</p>

            <p>Документы</p>
            @{List<Document> docs = Model.Documents.ToList();}
            @for (int i = 0; i < Model.Documents.Count && i < 3; i++)
            {
                <p>@docs[i].Name</p>
            }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" />
            </div>
        }
    </div>
</div>
