@model TranslationRegistryModel.Project
<div>

    @{
        ViewBag.Title = "Delete";
    }
    <h3>Вы уверены, что хотите удалить данную запись?</h3>
    <div>
        
        <dl class="dl-horizontal">
            <dt>
                Название
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                Язык оригинала
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LanguagePair.OriginalLanguage.Name)
            </dd>

            <dt>
                Язык перевода
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LanguagePair.TranslationLanguage.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" />
            </div>
        }
    </div>
</div>
