@model TranslationRegistryModel.Project


<div>
    <a data-ajax-update="#addDocumentForm" data-href="/Documents/CreateProjectDoc/@Model.Id" class="btn btn-primary ajaxToggleBtn">Добавить</a>

    <a class="btn btn-primary addBtn" href="/Documents/AddProjectDocs/" data-dialog-title="Добавить задачи">Добавить задачи</a>

    <div id="addDocumentForm" class="dynamicBlock"></div>

    <div class="">
        <div class="titles">
            <div class="col-md-3">Документы проекта</div>
            <div class="col-md-2">Владелец</div>
            <div class="col-md-7">Команды</div>
        </div>
        @foreach (var doc in Model.Documents)
        {
            <div class="properties">
                <div class="col-md-3">
                    <a class="titleLink" href="/Documents/DocAndStages/@doc.Id">@doc.Name</a>
                </div>
                <div class="col-md-2">
                    <span>
                        @doc.Owner.Name
                    </span>
                </div>
                <div class="col-md-7">
                    <div class="buttons-container">
                        @Html.ActionLink("Оригинал", "Download", "Documents", new { @filepath = doc.OriginalFile.Path }, htmlAttributes: new { @class = "btn btn-default" })

                        @if (doc.FinalFile != null && !String.IsNullOrWhiteSpace(doc.FinalFile.Path))
                        {
                            @Html.ActionLink("Перевод", "Download", "Documents", new { @filepath = doc.FinalFile.Path }, htmlAttributes: new { @class = "btn btn-default" })
                        }
                        else
                        {
                            <a href="#" class="btn disabled-btn" disabled="disabled">Перевод</a>
                        }
                        <a class="btn btn-primary" href="/Documents/Edit/@doc.Id">Редактировать</a>
                        <a class="btn btn-danger deleteBtn" data-href="/Documents/Delete/@doc.Id" data-dialog-title="Удаление документа и работ">Удалить</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
