@model IEnumerable<TranslationRegistryModel.Project>
@{ViewBag.Title = "Проекты";}

<h2>Проекты</h2>

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="container">
        <ul class="filters">
            <li>
                <a class="filter filter-active" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/All">
                    Все проекты
                </a>
            </li>
            <li>
                <a class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/InWork">
                    Проекты в работе
                </a>
            </li>
            <li>
                <a class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/My">
                    Мои проекты
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="projectList">
    @Html.Partial("List")
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".editBtn").click(function () {
                updatedBlock = $(this).attr("data-ajax-update");
                $(updatedBlock).toggle("fast");
            });
        });

        $(document).ready(function () {
            $(".filter").click(function () {
                $(".filter").removeClass("filter-active");
                $(this).addClass("filter-active");
            });
        });

        $(document).ready(function () {
            $(".createBtn").click(function () {
                updatedBlock = $(this).attr("data-ajax-update");
                $(updatedBlock).toggle("fast");
            });
        });

        $(document).ready(function () {
            $(".detailsBtn").click(function () {
                updatedBlock = $(this).attr("data-ajax-update");
                $(updatedBlock).toggle("fast");
            });
        });

        $(".deleteBtn").on("click", function (e) {
            e.preventDefault();
            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    height: 300,
                    width: 500,
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true
                })
                .load(this.href);
        });
    </script>
}