@model IEnumerable<TranslationRegistryModel.Project>
@{ViewBag.Title = "Проекты";}

<h2>Проекты</h2>

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="container">
        <ul class="filters">
            <li>
                <a class="filter filter-active" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/All">
                    Все проекты
                </a>
            </li>
            <li>
                <a class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/InWork">
                    Проекты в работе
                </a>
            </li>
            <li>
                <a class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/My">
                    Мои проекты
                </a>
            </li>
        </ul>
    </div>
</div>

<a data-ajax-update="#addProj" data-href="/Projects/Create" class="btn btn-primary ajaxToggleBtn">Добавить</a>
<div id="addProj" class="dynamicBlock dynamic-block-create"></div>

<div id="projectList">
    @Html.Partial("List")
</div>

