@model IEnumerable<TranslationRegistryModel.Project>
@{ViewBag.Title = "Проекты";}


<!-- ЗАГОЛОВОК И КНОПКА ДОБАВЛЕНИЯ -->
<h2 class="iconed-text">Проекты
    <i class="material-icons right-icon ajaxToggleBtn" data-ajax-update="#addProj" data-href="/Projects/Create">add_circle</i>
</h2>

<!-- ОБЛАСТЬ ДОБАВЛЕНИЯ ПРОЕКТОВ -->
<div id="addProj" class="dynamicBlock"></div>

<!-- ФИЛЬТРЫ -->
<div class="buttonsContainer">
    <ul class="filters">
        <li>
            <a id ="filter1" class="filter filter-active" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/InWork">Проекты в работе</a>
        </li>
        <li>
            <a id ="filter2" class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/All">Все проекты</a>
        </li>
        <li>
            <a id ="filter3" class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/Done">Закрытые проекты</a>
        </li>
    </ul>
</div>

<!-- СПИСОК ПРОЕКТОВ -->
<div id="projectList">
    @Html.Partial("List")
</div>

<script type="text/javascript">
    document.title = '@ViewBag.Title';
</script>