@model TranslationRegistryModel.Project

<h2>@Model.Name</h2>

<div class="tab-page">
    <ul class="nav nav-tabs nav-tabs-responsive" role="tablist">
        <li class="active" role="presentation"><a href="#docsTab" id="docsBtn" data-toggle="tab">Документы</a></li>
        <li class="next" role="presentation"><a href="#detailsTab" id="detailsBtn" data-toggle="tab">Детали</a></li>
    </ul>

    <div id="tabs-container" class="tab-content">
        <div class="tab-pane fade in active" role="tabpanel" id="docsTab" aria-labelledby="docsTab-tab">
            @Html.Partial("../Projects/Documents", Model)
        </div>
        <div class="tab-pane fade" role="tabpanel" id="detailsTab" aria-labelledby="detailsTab-tab">
            @Html.Partial("../Projects/DetailsShort", Model)
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.filedrop.js"></script>
    <script type="text/javascript">
            $(function () {
                $('#dropArea').filedrop({
                    url: '@Url.Action("UploadFiles")',
                    allowedfiletypes: [],
                    allowedfileextensions: [],
                    paramname: 'files',
                    maxfiles: 20,
                    maxfilesize: 500, // in MB
                    dragOver: function () {
                        $('#dropArea').addClass('active-drop');
                    },
                    dragLeave: function () {
                        $('#dropArea').removeClass('active-drop');
                    },
                    drop: function () {
                        $('#dropArea').removeClass('active-drop');
                    },
                    afterAll: function (e) {
                        $('#dropArea').html('file(s) uploaded successfully');
                    },
                    uploadFinished: function (i, file, response, time) {
                        $('#uploadList').append('<li class="list-group-item">' + file.name + '</li>')
                    }

                })

            })
    </script>
}       