@model TranslationRegistryModel.Project

<button id="detailsBtn">Детали</button>
<button id="docsBtn">Документы</button>

<div id="detailsTab">
    @Html.Partial("../Projects/DetailsShort", Model)
</div>
<div id="docsTab" class="dynamicBlock">
    @Html.Partial("../Projects/Documents", Model)
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#detailsBtn").click(function () {
                $("#detailsTab").show("300");
                $("#docsTab").hide("300");
            });
        });
        $(document).ready(function () {
            $("#docsBtn").click(function () {
                $("#detailsTab").hide("300");
                $("#docsTab").show("300");
            });
        });
    </script>
}