/* конкретные контейнеры списков карт */

.languagePairs-cardset {
    border-left: 2px solid #e4e4e4;
}

.cardset-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

/* границы карты, тени */
.card {
    padding: 0;
    margin: 0 5px 30px 5px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    box-shadow: -6px 5px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px solid lightgray;
    overflow: hidden;
    color: #333333;
}
    .card:hover {
        box-shadow: -13px 11px 25px 1px rgba(0, 0, 0, 0.55);
        transition: 0.3s;
    }


/*----------- размеры карточек -----------*/
.small-card {
    max-width: 320px;
    min-width: 260px;
}
    .small-card .card-value {
        max-width: 220px;
    }
    .small-card .card-property {
        width: 110px;
    }

.medium-card {
    max-width: 400px;
    min-width: 300px;
}
    .medium-card .card-value {
        max-width: 280px;
    }
    .medium-card .card-property {
        width: 110px;
    }

.add-small-card {
    max-width: 258px;
}

.add-medium-card {
    max-width: 298px;
}
/*--------------------------------------*/


/*----------- цвета карточек -----------*/
.card-orange {
    background-color: #fffefc;
}
    .card-orange .card-header {
        background-color: #e5cdbc;
        border-bottom: solid 2px #b12323;
    }
    .card-orange:hover .card-header {
        transition: 0.3s;
        background-color: #fbab72;
        border-bottom: solid 2px #b12323;
    }
    .card-orange:hover .addCardIcon {
        transition: 0.3s;
        color: #ff6a00;
    }

.card-blue {
    background-color: #fffefc;
}
    .card-blue .card-header {
        background-color: #bccee5;
        border-bottom: solid 2px #4f7a9a;
    }
    .card-blue:hover .card-header {
        transition: 0.3s;
        background-color: #979eef;
        border-bottom: solid 2px #b12323;
    }
    .card-blue:hover .addCardIcon {
        transition: 0.3s;
        color: #1265f8;
    }

.card-aqua {
    background-color: #fcffff;
}
    .card-aqua .card-header {
        background-color: #b9d4ce;
        border-bottom: solid 2px #4f7a9a;
    }
    .card-aqua:hover .card-header {
        transition: 0.3s;
        background-color: #a3e6d8;
        border-bottom: solid 2px #335b78;
    }
    .card-aqua:hover .addCardIcon {
        transition: 0.3s;
        color: #26dfe0;
    }

/*--------------------------------------*/
/*----------- хедер карточек -----------*/
.card-header {
    display: flex;
    justify-content: space-between;
    border-radius: 6px 6px 0 0;
    min-height: 36px;
}
    .card-header > p {
        margin: 0;
        font-weight: 600;
        text-align: left;
        font-size: 16px;
        padding: 0 10px 0 10px;
        align-self:center;
    }
    .card-header > div {
        display: flex;
    }
        .card-header > div a {
            padding: 0;
            margin-right: 10px;
            text-decoration: none;
        }

.card-btn {
    float: right;
    margin-right: 10px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    color: #333333;
    vertical-align: middle;
    align-self: center;
    font-size: 32px !important;
    cursor: pointer;
}
    .card-btn:hover {
        color: #000000;
        transform: scale(1.1);
        transition: 0.3s;
    }
/*-------------------------------------*/



/*----------- содержимое карточек -----------*/
.card-content {
    padding: 0 5px;
    overflow: hidden;
}

.card-row {
    display: flex;
    border-bottom: 1px solid #e4e4e4;
    height: 50px;
}
    .card-row:last-of-type {
        border: none;
    }
    .card-row .card-value > input, select {
        color: #333333 !important;
        font-size: 18px !important;
        align-self: center;
        padding: 6px;
        border-radius: 4px;
        margin: 0;
        font-weight: 500;
    }

.card-property {
    font-size: 16px;
    color: #626262;
    text-align: left;
    display: flex;
    padding: 5px;
}
    .card-property > p {
        margin: 0;
        white-space: nowrap;
        align-self: center;
    }

.card-value {
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    display: flex;
}
    .card-value > p {
        padding: 5px;
        margin: 0;
        overflow: hidden;
        align-self: center;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .card-value > input {
        font-size: 20px;
    }
/*-------------------------------------*/
