/* конкретные контейнеры списков карт */

.cardset-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    opacity:0.9;
}

/* границы карты, тени */
.card {
    padding: 0;
    margin: 0 5px 30px 5px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    box-shadow: 6px 5px 12px 1px rgba(0, 0, 0, 0.3);
    /*border-radius: 8px;*/
    /*border: 1px solid lightgray;*/
    overflow: hidden;
    color: #333333;
}
    .card:hover {
        box-shadow: 13px 11px 25px 1px rgba(0, 0, 0, 0.55);
        transition: 0.3s;
    }


/*----------- размеры карточек -----------*/
    .small-card {
    max-width: 320px;
    min-width: 240px;
}
    .small-card .card-value {
        max-width: 220px;
    }
    .small-card .card-property {
        width: 100px;
    }

.medium-card {
    max-width: 400px;
    min-width: 280px;
}
    .medium-card .card-value {
        max-width: 280px;
    }
    .medium-card .card-property {
        width: 100px;
    }

.add-small-card {
    max-width: 258px;
}

.add-medium-card {
    max-width: 298px;
}
/*--------------------------------------*/


/*----------- цвета карточек -----------*/
.card-orange {
    background-color: #fffefc;
    transition: 0.3s;
}
    .card-orange .card-header {
        background-color: #6c3d77;
    }
    .card-orange:hover .card-header {
        background-color: #9b45af;
    }
    .card-orange:hover .addCardIcon {
        color: #9b45af;
    }

.card-blue {
    background-color: #fffefc;
    transition: 0.3s;
}
    .card-blue .card-header {
        background-color: #4b5e81;
    }
    .card-blue:hover .card-header {
        background-color: #4e78c3;
    }
    .card-blue:hover .addCardIcon {
        color: #4e78c3;
    }

.card-aqua {
    background-color: #fcffff;
    transition: 0.3s;
}
    .card-aqua .card-header {
        background-color: #498184;
    }
    .card-aqua:hover .card-header {
        background-color: #18afb7;
    }
    .card-aqua:hover .addCardIcon {
        color: #18afb7;
    }

/*--------------------------------------*/
/*----------- хедер карточек -----------*/
.card-header {
    display: flex;
    justify-content: space-between;
    /*border-radius: 6px 6px 0 0;*/
    min-height: 32px;
    color:white;
}
    .card-header > p {
        margin: 0;
        font-weight: 600;
        text-align: left;
        font-size: 14px;
        padding: 0 10px 0 10px;
        align-self:center;
    }
    .card-header > div {
        display: flex;
    }
        .card-header > div p {
            padding: 0;
            margin-right: 10px;
        }

.card-btn {
    float: right;
    margin-right: 5px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    color: white;
    vertical-align: middle;
    align-self: center;
    font-size: 24px !important;
    cursor: pointer;
}
    .card-btn:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }
/*-------------------------------------*/



/*----------- содержимое карточек -----------*/
.card-content {
    padding: 0 5px;
    overflow: hidden;
}

.card-row {
    display: flex;
    border-bottom: 1px solid #e4e4e4;
    height: 40px;
}
    .card-row:last-of-type {
        border: none;
    }
    .card-row .card-value > input, select {
        color: #333333 !important;
        font-size: 18px !important;
        align-self: center;
        padding: 6px;
        border-radius: 4px;
        margin: 0;
        font-weight: 500;
    }

.card-property {
    font-size: 14px;
    color: #626262;
    text-align: left;
    display: flex;
    padding: 5px;
}
    .card-property > p {
        margin: 0;
        white-space: nowrap;
        align-self: center;
    }

.card-value {
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    display: flex;
}
    .card-value > p {
        padding: 5px;
        margin: 0;
        overflow: hidden;
        align-self: center;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .card-value > input {
        font-size: 20px;
    }
/*-------------------------------------*/
