@model TranslationRegistryModel.User_Stage

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("AddResultFile", "User_Stage", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <!-- Хедер -->
            <div class="modal-header blue-modal-header">
                <h4 class="modal-title">Выполнение задачи</h4>
                <p type="button" class="close" data-dismiss="modal">&times;</p>
            </div>

            <!-- Тело -->
            <div class="modal-body">
                <h3>Прикрепить файл результата?</h3>

                @Html.AntiForgeryToken()

                @Html.Hidden("Id", Model.Id)
                <div class="modal-row">
                    <div class="modal-property"><p>Результат:</p></div>
                    <div class="modal-value">
                        <input class="form-control" type="file" required="required" name="result" />
                    </div>
                </div>
            </div>

            <!-- Подтверждение\отмена -->
            <div class="modal-footer">
                <input type="submit" value="Сохранить" class="btn btn-modal-save btn-modal hide-modal" />
                <button type="button" class="btn btn-default btn-cancel btn-modal" data-dismiss="modal">Отмена</button>
            </div>
        }
    </div>
</div>