@model List<TranslationRegistryModel.User_Stage>
<div class="tableMaterial">
    <div class="titles">
        <div class="col-md-1">Проект</div>
        <div class="col-md-2">Документ</div>
        <div class="col-md-1">Стадия</div>
        <div class="col-md-1">Исходник</div>
        <div class="col-md-3">Комментарий</div>
        <div class="col-md-1">Объем</div>
        <div class="col-md-1">Дедлайн</div>
        <div class="col-md-2">Команды</div>
    </div>

    <div>
        @foreach (var userStage in Model)
        {
            @Html.Partial("../User_Stage/ListItem", userStage)
        }
    </div>
</div>
