@model List<TranslationRegistryModel.User_Stage>
<div>
    <div class="titles">
        <div class="col-md-2">Пользователь</div>
        <div class="col-md-2">Количество</div>
        <div class="col-md-4">Дата загрузки</div>
        <div class="col-md-4">Команды</div>
    </div>

    @foreach (var userStage in Model)
    {
        @Html.Partial("../User_Stage/Item", userStage)
    }
</div>
