@model List<TranslationRegistryModel.User_Stage>
@{ViewBag.Title = "Мои задачи";}
<!-- ЗАГОЛОВОК И КНОПКА ДОБАВЛЕНИЯ -->
<h2>Мои задачи</h2>

<!-- ФИЛЬТРЫ -->
<div class="filterContainer">
    <ul class="filters">
        <li>
            <a class="filter filter-active" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/InWork">Задачи в работе</a>
        </li>
        <li>
            <a class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/All">Все задачи</a>
        </li>
        <li>
            <a class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/Done">Выполненные задачи</a>
        </li>
    </ul>
</div>

@Html.Partial("List", Model)

<script type="text/javascript">
    document.title = '@ViewBag.Title';
</script>