@model List<TranslationRegistryModel.User_Stage>
@{ViewBag.Title = "Задачи";}
<!-- ЗАГОЛОВОК И КНОПКА ДОБАВЛЕНИЯ -->
<h2>Мои задачи</h2>

<!-- ФИЛЬТРЫ -->
<div class="buttonsContainer">
    <ul class="filters">
        <li>
            <a id ="filter1" class="filter filter-active" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#tasksList" href="/User_Stage/InWork">Текущие задачи</a>
        </li>
        <li>
            <a id ="filter2" class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#tasksList" href="/User_Stage/Done">Выполненные задачи</a>
        </li>
    </ul>
</div>

<div id="tasksList">
    @Html.Partial("List", Model)
</div>

<script type="text/javascript">
    document.title = '@ViewBag.Title';
</script>
