@model TranslationRegistryModel.LanguagePair
<div class="card card-blue medium-card">
    <div class="card-header">
        <p>Языковая пара</p>
        <div>
            <a class="fa fa-edit card-btn ajaxToggleCard" data-href="/LanguagePairs/EditCard/@Model.Id" style="font-size:36px" data-ajax-update="#languagePair@(Model.Id)"></a>
            <a class="fa fa-times card-btn deleteBtn" href="/LanguagePairs/Delete/@Model.Id" data-dialog-title="Удаление языковой пары"  style="font-size:36px"></a>
        </div>
    </div>
    <div class="card-content">
        <div class="card-row">
            <div class="card-property"><p>Название:</p></div>
            <div class="card-value">
                <p>@Model.Name</p>
            </div>
        </div>
        <div class="card-row">
            <div class="card-property"><p>Оригинал:</p></div>
            <div class="card-value">
                <p>@Model.OriginalLanguage.Name<p>
            </div>
        </div>
        <div class="card-row">
            <div class="card-property"><p>Перевод:</p></div>
            <div class="card-value">
                <p>@Model.TranslationLanguage.Name<p>
            </div>
        </div>
    </div>
</div>
