@model TranslationRegistryModel.LanguagePair
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.OriginalLanguage.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.TranslationLanguage.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#languagePair@(Model.Id)" href="/LanguagePairs/Edit/@Model.Id" class="glyphicon glyphicon-edit editBtn"></a>
        <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#languagePair@(Model.Id)" href="/LanguagePairs/Delete/@Model.Id" class="glyphicon glyphicon-remove deleteBtn"></a>
    </td>
</tr>
<tr>
    <td id="languagePair@(Model.Id)" class="dynamicBlock"></td>
</tr>