@model TranslationRegistryModel.UnitOfMeasure
@using (Html.BeginForm("Create", "UnitOfMeasure"))
{
    @Html.AntiForgeryToken()
    <div class="card card-aqua medium-card">

        <div class="card-header">
            <p>Добавить единицу измерения</p>
            <div>
                @*<i class="material-icons ajaxToggleCard card-btn" data-ajax-update="#unitOfMeasure@(Model.Id)" data-href="/UnitOfMeasure/Card/@Model.Id">undo</i>*@
            </div>
        </div>

        <div class="card-content">

            <div class="card-row">
                <div class="card-property"><p>Название:</p></div>
                <div class="card-value">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required", autofocus = "autofocus" } })
                </div>
            </div>

            <div class="card-row">
                <div class="card-property"></div>
                <div class="card-value">
                    <input type="submit" value="Сохранить" class="btn btn-default btn-form form-control" />
                </div>
            </div>

        </div>
    </div>
}