@model TranslationRegistryModel.Document
<div>

    @Html.Partial("../Documents/Details", Model)

    <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#addDocStageForm"
       href="/DocStages/Create/@Model.Id" class="btn btn-primary createBtn">Добавить стадию</a>
    <div id="addDocStageForm" class="dynamicBlock"></div>

    <div>
        @foreach (var stage in Model.Stages)
        {
            @Html.Partial("../DocStages/Item", stage)
        }
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".createBtn").click(function () {
                updatedBlock = $(this).attr("data-ajax-update");
                // изначально display:none, описанов MyAppStyles.css
                $(updatedBlock).toggle("fast");
            });
        });

        $(".deleteBtn").on("click", function (e) {
            e.preventDefault();
            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    height: 300,
                    width: 500,
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true
                })
                .load(this.href);
        });
    </script>
}