@model IEnumerable<TranslationRegistryModel.Document>

@{
    ViewBag.Title = "Документы";
}

<h2>Документы</h2>
<!-- ФИЛЬТРЫ -->
<div class="container">
    <ul class="filters">
        <li>
            <a class="filter filter-active" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#docList" href="/Documents/All">
                Все документы
            </a>
        </li>
        <li>
            <a class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#docList" href="/Documents/My">
                Мои документы
            </a>
        </li>
        <li>
            <a class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#docList" href="/Documents/InWork">
                Мои рабочие документы
            </a>
        </li>
    </ul>
</div>

<a data-ajax-update="#addDoc" data-href="/Documents/Create" class="btn btn-primary ajaxToggleBtn">Добавить</a>
<div id="addDoc" class="dynamicBlock dynamic-block-create"></div>

<!-- СПИСОК ДОКУМЕНТОВ -->
<div id="docList">
    @Html.Partial("List")
</div>


