@model IEnumerable<TranslationRegistryModel.Document>
@{ViewBag.Title = "Документы";}

<!-- ЗАГОЛОВОК И КНОПКА ДОБАВЛЕНИЯ -->
<h2 class="iconed-text"> Документы
   <i class="material-icons right-icon ajaxToggleBtn" data-ajax-update="#addDoc" data-href="/Documents/Create">add_circle</i>
</h2>

<!-- ОБЛАСТЬ ДОБАВЛЕНИЯ ДОКУМЕНТОВ -->
<div id="addDoc" class="dynamicBlock"></div>

<!-- ФИЛЬТРЫ -->
<div class="buttonsContainer">
    <ul class="filters">
        <li>
            <a class="filter filter-active" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#docList" href="/Documents/All">
                Все документы
            </a>
        </li>
        <li>
            <a class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#docList" href="/Documents/My">
                Мои документы
            </a>
        </li>
        <li>
            <a class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#docList" href="/Documents/InWork">
                Мои рабочие документы
            </a>
        </li>
    </ul>
</div>



<!-- СПИСОК ДОКУМЕНТОВ -->
<div id="docList">
    @Html.Partial("List")
</div>

<script type="text/javascript">
    document.title = '@ViewBag.Title';
</script>