.addMaterial {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    position: relative;
    margin: 0 auto;
    margin: 10px;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: #23527c;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    align-self: center;
}

#addIcon {
    position: absolute;
    top: 9px;
    left: 10px;
    margin: 0 auto;
    font-size: 13px;
}

.addMaterial:hover {
    color: #d41955;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}


.filters {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

    .filters li {
        display: inline-block;
    }

        .filters li a {
            display: block;
            padding: 8px 10px;
            color: black;
            text-decoration: none;
            transition: 0.3s;
            background-color: white;
            opacity: 0.9;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
            margin: 5px;
        }

            .filters li a:hover {
                color: #d41955 !important;
                background-color: white;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
            }

.filter-active {
    background: #3d5279 !important;
    color: white !important;
}

.filterContainer{
    padding-left:50px;
}