@model TranslationReg.Models.WorkTypeModel

@using (Html.BeginForm("Create", "WorkTypes"))
{
    @Html.AntiForgeryToken()
    <div class="card card-orange medium-card">

        <div class="card-header">
            <p>Доб. тип работ</p>
            <div>
                @*<i class="material-icons ajaxToggleCard card-btn" data-ajax-update="#workType@(Model.workType.Id)" data-href="/WorkTypes/Card/@Model.workType.Id">undo</i>*@
            </div>
        </div>

        <div class="card-content">

            <div class="card-row">
                <div class="card-property"><p>Назв.:</p></div>
                <div class="card-value">
                    @Html.EditorFor(model => model.workType.Name, new { htmlAttributes = new { @class = "form-control", required = "required", autofocus = "autofocus" } })
                </div>
            </div>

            <div class="card-row">
                <div class="card-property"><p>Сокр.:</p></div>
                <div class="card-value">
                    @Html.DropDownListFor(model => model.workType.UnitOfMeasureId, Model.unitsOfMeasure, null, htmlAttributes: new { @class = "form-control", required = "required" })
                </div>
            </div>

            <div class="card-row">
                <div class="card-property"></div>
                <div class="card-value">
                    <input type="submit" value="Сохранить" class="btn btn-default btn-form form-control" />
                </div>
            </div>

        </div>
    </div>
}