@model TranslationReg.Models.WorkTypeModel

@using (Html.BeginForm("Create", "WorkTypes"))
{
    @Html.AntiForgeryToken()
    <div class="card card-worktype">

        <div class="card-header lang-header">
            <p>Добавить тип работ</p>
            <div>
                <a class="fa fa-arrow-circle-left card-btn" style="font-size:36px" href="/Worktypes/Cards"></a>
            </div>
        </div>

        <div class="card-content">

            <div class="card-row-edit">
                <div class="card-property-edit col-md-4"><p>Назв.:</p></div>
                <div class="card-value-edit col-md-8">
                    @Html.EditorFor(model => model.workType.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                </div>
            </div>

            <div class="card-row-edit">
                <div class="card-property-edit col-md-4"><p>Сокр.:</p></div>
                <div class="card-value-edit col-md-8">
                    @Html.DropDownListFor(model => model.workType.UnitOfMeasureId, Model.unitsOfMeasure, null, htmlAttributes: new { @class = "form-control", required = "required" })
                </div>
            </div>

            <div class="card-row-edit">
                <div class="card-value-edit col-md-8 col-md-offset-4">
                    <input type="submit" value="Сохранить" class="btn btn-default btn-form" />
                </div>
            </div>

        </div>
    </div>
}

<style>
    .card-property-edit {
        font-size: 20px;
        color: #626262;
        text-align: left;
        display: flex;
    }

    .card-value-edit {
        font-weight: bold;
        font-size: 20px;
        color: black;
        text-align: left;
        display: flex;
        padding: 0px;
    }

    .card-row-edit {
        display: flex;
        height: 40px;
    }

    .card-property-edit > p {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        align-self: center;
        padding: 5px;
    }

    .card-value-edit > input {
        margin: 5px !important;
        overflow: hidden;
        white-space: nowrap;
        align-self: center;
        padding: 5px;
    }
</style>