@model TranslationReg.Models.WorkTypesModel
<div>
    <!-- карточки типов работ -->
    <div class="cardset-container" style="border-bottom: 1px solid lightgray">

        <!-- карточка добавления -->
        <div id="addWorktype">
            <div class="card card-orange small-card">
                <div class="card-header">
                    <p>Добавить тип работ</p>
                </div>
                <div class="add-card-content ajaxToggleCard" data-href="/WorkTypes/AddCard" data-ajax-update="#addWorktype">
                    <i class="fa fa-plus-circle"></i>
                    <p>Нажмите чтобы добавить</p>
                </div>
            </div>
        </div>
        <!-- типы работ -->
        @foreach (var workType in Model.workTypes)
        {
            <div id="workType@(workType.Id)">
                @Html.Partial("../Worktypes/Card", workType)
            </div>
        }
    </div>

    <!-- карточки статусов проекта -->
    <div class="cardset-container" style="border-bottom: 1px solid lightgray">

        <!-- карточка добавления -->
        <div id="addProjectStatuse">
            <div class="card card-blue medium-card">
                <div class="card-header">
                    <p>Доб. статус проекта</p>
                </div>
                <div class="add-card-content ajaxToggleCard" data-href="/ProjectStatuse/AddCard" data-ajax-update="#addProjectStatuse">
                    <i class="fa fa-plus-circle"></i>
                    <p>Нажмите чтобы добавить</p>
                </div>
            </div>
        </div>
        <!-- типы работ -->
        @foreach (var projectStatuse in Model.projectStatuses)
        {
            <div id="projectStatuse@(projectStatuse.Id)">
                @Html.Partial("../ProjectStatuse/Card", projectStatuse)
            </div>
        }
    </div>

</div>
