@model TranslationReg.Models.WorkTypesModel
<div>
    <!-- карточки типов работ -->
    <h2 style="text-align:center">Типы работ</h2>
    <div class="cardset-container" style="border-bottom: 1px solid lightgray">
        <!-- карточка добавления -->
        <div id="addWorktype">
            <div class="card card-orange add-small-card">
                <div class="card-header">
                    <p>Добавить тип работ</p>
                </div>
                <div class="add-card-content ajaxToggleCard" data-href="/WorkTypes/AddCard" data-ajax-update="#addWorktype">
                    <i class="fa fa-plus-circle addCardIcon" style="font-size:100px"></i>
                    <p>Нажмите чтобы добавить</p>
                </div>
            </div>
        </div>
        <!-- типы работ -->
        @foreach (var workType in Model.workTypes)
        {
            <div id="workType@(workType.Id)">
                @Html.Partial("../Worktypes/Card", workType)
            </div>
        }
    </div>

    <h2 style="text-align:center">Статусы проектов</h2>
    <!-- карточки статусов проекта -->
    <div class="cardset-container" style="border-bottom: 1px solid lightgray">

        <!-- карточка добавления -->
        <div id="addProjectStatuse">
            <div class="card card-blue add-small-card">
                <div class="card-header">
                    <p>Добавить статус проекта</p>
                </div>
                <div class="add-card-content ajaxToggleCard" data-href="/ProjectStatuse/AddCard" data-ajax-update="#addProjectStatuse">
                    <i class="fa fa-plus-circle addCardIcon" style="font-size:100px"></i>
                    <p>Нажмите чтобы добавить</p>
                </div>
            </div>
        </div>
        <!-- типы работ -->
        @foreach (var projectStatuse in Model.projectStatuses)
        {
            <div id="projectStatuse@(projectStatuse.Id)">
                @Html.Partial("../ProjectStatuse/Card", projectStatuse)
            </div>
        }
    </div>

    <h2 style="text-align:center">Единицы измерения</h2>
    <!-- карточки статусов проекта -->
    <div class="cardset-container" style="border-bottom: 1px solid lightgray">
        <!-- карточка добавления -->
        <div id="addUnitOfMeasure">
            <div class="card card-aqua add-small-card">
                <div class="card-header">
                    <p>Добавить ед. измерения</p>
                </div>
                <div class="add-card-content ajaxToggleCard" data-href="/UnitOfMeasure/AddCard" data-ajax-update="#addUnitOfMeasure">
                    <i class="fa fa-plus-circle addCardIcon" style="font-size:100px"></i>
                    <p>Нажмите чтобы добавить</p>
                </div>
            </div>
        </div>
        <!-- типы работ -->
        @foreach (var unitOfMeasure in Model.unitsOfMeasure)
        {
            <div id="unitOfMeasure@(unitOfMeasure.Id)">
                @Html.Partial("../UnitOfMeasure/Card", unitOfMeasure)
            </div>
        }
    </div>
</div>
