@model TranslationRegistryModel.WorkType
<div class="modal-dialog">
    <div class="modal-content">

        <!-- Хедер -->
        <div class="modal-header  delete-header">
            <h4 class="modal-title">Удаление типа работ</h4>
            <i data-dismiss="modal" class="material-icons close">clear</i>
        </div>

        <!-- Тело -->
        <div class="modal-body">
            <h3 align="center">Вы уверены, что хотите удалить тип работы "@Model.Name"?</h3>
            <div class="modal-row">
                <div class="modal-property"><p>Название:</p></div>
                <div class="modal-value">
                    <p>@Model.Name</p>
                </div>
            </div>
            <div class="modal-row">
                <div class="modal-property"><p>Единицы изм.:</p></div>
                <div class="modal-value">
                    <p>@Model.UnitOfMeasure.Name<p>
                </div>
            </div>
        </div>

        <!-- Подтверждение\отмена -->
        <div class="modal-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Удалить" class="btn hide-modal btn-delete btn-modal" />
            }
            <button type="button" class="btn btn-default btn-cancel btn-modal" data-dismiss="modal">Отмена</button>
        </div>
    </div>
</div>