@model TranslationReg.Models.WorkTypeModel

@using (Html.BeginForm("Edit", "WorkTypes"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.workType.Id)
    <div class="card card-orange medium-card">

        <div class="card-header orange-header">
            <p>Доб. тип работ</p>
            <div>
                <a class="fa fa-arrow-circle-left card-btn" style="font-size:36px" href="/Worktypes/Cards"></a>
            </div>
        </div>

        <div class="card-content">

            <div class="card-row">
                <div class="card-property"><p>Назв.:</p></div>
                <div class="card-value">
                    @Html.EditorFor(model => model.workType.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                </div>
            </div>

            <div class="card-row">
                <div class="card-property"><p>Сокр.:</p></div>
                <div class="card-value">
                    @Html.DropDownListFor(model => model.workType.UnitOfMeasureId, Model.unitsOfMeasure, null, htmlAttributes: new { @class = "form-control", required = "required" })
                </div>
            </div>

            <div class="card-row">
                <div class="card-property"></div>
                <div class="card-value">
                    <input type="submit" value="Сохранить" class="btn btn-default btn-form form-control" />
                </div>
            </div>

        </div>
    </div>
}