* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  background-color: #EEF1F5;
  margin-bottom: 50px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  height: 50px;
  width: 100%;
  padding: 15px;
  color: white;
  background: #241717;
}
.navbar-brand {
  width: 50px;
  background-image: url("images/logo_tpu.png");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
  .navbar-right {
    display: block;
    padding-right: 15px;
  }
  .navbar-right > li a:hover {
    background: #505b69;
  }
  .main-menu > li > a {
    display: block;
    font-weight: 500;
    color: white;
    margin-right: 7px;
  }
  .main-menu > li > a:hover,
  .main-menu > li > a:focus {
    background-color: #505b69;
  }
}
.navbar {
  background-color: #241717;
}
.dynamicBlock {
  display: none;
}
.dl-horizontal {
  font-size: 22px;
  margin-top: 20px;
}
.dl-horizontal > dt {
  display: block;
  width: 210px;
  height: 35px;
  text-align: left;
}
.dl-horizontal > dt :hover {
  background-color: darkgray;
  transition: background-color 0.5s;
}
.dl-horizontal > dd {
  margin-left: 210px;
  height: 35px;
}
.dl-horizontal > dd a {
  display: inline-block;
}
.dl-horizontal > dd span {
  display: inline;
  line-height: 35px;
  vertical-align: middle;
}
.tables {
  padding: 0;
}
.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.titles > div {
  text-align: center;
  background-color: #d6d6d6;
  height: 55px;
  font-size: 18px;
  line-height: 55px;
}
.titles > div:last-child {
  border-right: none;
}
.properties {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid darkgray;
}
.properties:hover {
  background-color: #e6e6e6;
}
.properties > div {
  padding: 15px 0;
  height: auto;
  font-size: 20px;
  text-align: center;
  display: flex;
}
.properties > div:last-child {
  display: flex;
  border-right: none;
}
.properties > div:first-child a {
  color: black;
  text-decoration: none;
  width: auto;
  margin-left: 5px;
  position: relative;
  text-align: center;
  font-size: 26px;
}
.properties > div:first-child a:after {
  height: 3px;
  width: 100%;
  background: black;
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0;
  transition: all .3s;
  transform: scaleX(0);
}
.properties > div:first-child a:hover:after {
  transform: scaleX(1);
}
.properties > div span {
  margin: auto;
}
.properties .dynamicItem {
  margin: 0 auto;
}
.properties .dynamicItem form {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.properties .dynamicItem form .btn-form {
  width: 100px;
  align-self: center;
}
.properties .dynamicItem form .form-group {
  display: flex;
}
.properties .dynamicItem form .form-group label {
  margin: 0 10px 5px 0;
  width: 200px;
  text-align: left;
}
.properties .buttons-container {
  margin: auto;
  align-self: center;
}
.properties .buttons-container > a {
  margin-bottom: 0;
}
@media screen and (max-width: 479px) {
  .nav-tabs-responsive > li {
    display: none;
    width: 23%;
  }
  .nav-tabs-responsive > li > a {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    text-align: center;
    vertical-align: top;
  }
  .nav-tabs-responsive > li .active {
    width: 54%;
  }
  .nav-tabs-responsive > li .active:first-child {
    margin-left: 23%;
  }
  .nav-tabs-responsive > li .active,
  .nav-tabs-responsive > li .prev,
  .nav-tabs-responsive > li .next {
    display: block;
  }
  .nav-tabs-responsive > li .prev,
  .nav-tabs-responsive > li .next {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  .nav-tabs-responsive > li .prev > a,
  .nav-tabs-responsive > li .next > a {
    -webkit-transition: none;
    transition: none;
  }
  .nav-tabs-responsive > li .prev > a .text,
  .nav-tabs-responsive > li .next > a .text {
    display: none;
  }
  .nav-tabs-responsive > li .prev > a:after,
  .nav-tabs-responsive > li .next > a:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .nav-tabs-responsive > li .prev > a:after {
    content: "\e079";
  }
  .nav-tabs-responsive > li .next > a:after {
    content: "\e080";
  }
  .nav-tabs-responsive > li .dropdown > a > .caret {
    display: none;
  }
  .nav-tabs-responsive > li .dropdown > a:after {
    content: "\e114";
  }
  .nav-tabs-responsive > li .dropdown .active > a:after {
    display: none;
  }
  .nav-tabs-responsive > li .dropdown .active > a .caret {
    display: inline-block;
  }
  .nav-tabs-responsive > li .dropdown .dropdown-menu .pull-xs-left {
    left: 0;
    right: auto;
  }
  .nav-tabs-responsive > li .dropdown .dropdown-menu .pull-xs-center {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .nav-tabs-responsive > li .dropdown .dropdown-menu .pull-xs-right {
    left: auto;
    right: 0;
  }
}
@media (max-width: 479px) {
  #narrow-browser-alert {
    display: none;
  }
}
#docsTab {
  margin-top: 30px;
}
.inner-list {
  padding: 40px;
}
.formContainer {
  margin-top: 20px;
  margin-bottom: 10px;
}
.createBtn {
  margin-bottom: 10px;
}
.disabled-btn {
  background: lightgrey;
  border-color: grey;
  color: white;
}
.filters {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}
.filters li {
  display: inline-block;
}
.filters li a {
  display: block;
  padding: 8px 10px;
  color: black;
  text-decoration: none;
  transition: 0.4s;
  border-radius: 30px;
}
.filters li a:hover {
  background: #241717;
  color: white;
}
.filter-active {
  background: #241717;
  color: white !important;
}
.download-Btn {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  padding: 5px 0px;
  width: 110px;
  border-radius: 4px;
  overflow: hidden;
  transition: all .2s linear 0s;
  background: #F28123;
  font-size: 16px;
}
.download-Btn:before {
  content: "\f019";
  font-family: FontAwesome;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 100%;
  background-color: #F28123;
  transition: all 0.2s linear 0s;
  text-align: center;
}
.download-Btn:hover {
  text-indent: -30px;
  text-decoration: none;
  color: white;
}
.download-Btn:hover:before {
  right: 0;
  text-indent: 0px;
}
.float-label {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
}
.float-label .control {
  display: flex;
  float: left;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.float-label .control:last-child {
  border: 0;
}
.float-label .control span {
  display: block;
  margin-left: 40px;
  font-size: 32px;
}
.float-label .control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.float-label .control-buttons .small {
  padding: 10px 0;
  border-bottom: none;
}
.float-label .control-buttons .small a {
  display: flex;
  margin: auto;
}
