* {
    padding: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

h2 {
    color: #282828;
    align-self: center;
    margin: 10px 10px 10px 0;
    font-size: 1.71429em;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 32px;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,"Segoe UI",Oxygen,Ubuntu,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.padding-container {
    padding-top: 20px;
    padding-left: 50px;
}

.pointer {
    cursor: pointer;
}

input,
select,
textarea {
    max-width: 280px;
    height: 35px;
    padding: 6px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

html {
    height: 100%;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

body {
    height: 100%;
    position: relative;
    background-image: url(images/bodyBg.jpg);
    background-size: cover;
    padding-top: 0;
    padding-bottom: 0;
}

.footer {
    color: white;
    z-index: 999;
    height: 100%;
    position: relative;
}

    .footer > p {
        position: absolute;
        text-align: center;
        font-size: 14px;
        bottom: 0;
        width: 100%;
    }

.navbar-brand {
    width: 50px;
    background-image: url("images/logo_tpu.png");
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }

    .navbar-right {
        display: inline;
        padding-right: 6px;
    }

        .navbar-right > li a:hover {
            background: #505b69;
        }
}

.navbar {
    background-color: #241717;
}

.dl-horizontal {
    font-size: 22px;
    margin-top: 20px;
}

    .dl-horizontal > dt {
        display: block;
        width: 210px;
        height: 35px;
        text-align: left;
    }

        .dl-horizontal > dt :hover {
            background-color: darkgray;
            transition: background-color 0.5s;
        }

    .dl-horizontal > dd {
        margin-left: 210px;
        height: 35px;
    }

        .dl-horizontal > dd a {
            display: inline-block;
        }

        .dl-horizontal > dd span {
            display: inline;
            line-height: 35px;
            vertical-align: middle;
        }

.btn-form {
    align-self: flex-start;
}

.dynamicBlock {
    display: none;
}

@media screen and (max-width: 479px) {
    .nav-tabs-responsive > li {
        display: none;
        width: 23%;
    }

        .nav-tabs-responsive > li > a {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            width: 100%;
            text-align: center;
            vertical-align: top;
        }

        .nav-tabs-responsive > li .active {
            width: 54%;
        }

            .nav-tabs-responsive > li .active:first-child {
                margin-left: 23%;
            }

        .nav-tabs-responsive > li .active,
        .nav-tabs-responsive > li .prev,
        .nav-tabs-responsive > li .next {
            display: block;
        }

        .nav-tabs-responsive > li .prev,
        .nav-tabs-responsive > li .next {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

            .nav-tabs-responsive > li .prev > a,
            .nav-tabs-responsive > li .next > a {
                -webkit-transition: none;
                transition: none;
            }

                .nav-tabs-responsive > li .prev > a .text,
                .nav-tabs-responsive > li .next > a .text {
                    display: none;
                }

                .nav-tabs-responsive > li .prev > a:after,
                .nav-tabs-responsive > li .next > a:after {
                    position: relative;
                    top: 1px;
                    display: inline-block;
                    font-family: "Glyphicons Halflings";
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }

                .nav-tabs-responsive > li .prev > a:after {
                    content: "\e079";
                }

                .nav-tabs-responsive > li .next > a:after {
                    content: "\e080";
                }

        .nav-tabs-responsive > li .dropdown > a > .caret {
            display: none;
        }

        .nav-tabs-responsive > li .dropdown > a:after {
            content: "\e114";
        }

        .nav-tabs-responsive > li .dropdown .active > a:after {
            display: none;
        }

        .nav-tabs-responsive > li .dropdown .active > a .caret {
            display: inline-block;
        }

        .nav-tabs-responsive > li .dropdown .dropdown-menu .pull-xs-left {
            left: 0;
            right: auto;
        }

        .nav-tabs-responsive > li .dropdown .dropdown-menu .pull-xs-center {
            right: auto;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .nav-tabs-responsive > li .dropdown .dropdown-menu .pull-xs-right {
            left: auto;
            right: 0;
        }
}

@media (max-width: 479px) {
    #narrow-browser-alert {
        display: none;
    }
}

#docsTab {
    margin-top: 30px;
}

.inner-list {
    padding: 40px;
}

.formContainer {
    margin-top: 20px;
    margin-bottom: 10px;
}

addFormContainer {
    margin: 18px;
}

.createBtn {
    margin-bottom: 10px;
}

.disabled-icon {
    color: #918faa;
    cursor:not-allowed;
}

.float-label {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

    .float-label .control {
        display: flex;
        float: left;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

        .float-label .control:last-child {
            border: 0;
        }

        .float-label .control span {
            display: block;
            margin-left: 40px;
            font-size: 32px;
        }

    .float-label .control-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

        .float-label .control-buttons .small {
            padding: 10px 0;
            border-bottom: none;
        }

            .float-label .control-buttons .small a {
                display: flex;
                margin: auto;
            }

.details-document h3 {
    text-decoration: underline;
}

.details-document .details-actions-document {
    display: flex;
    flex-direction: row;
    z-index: 10;
    padding: 5px 5px;
    transition: all 1s;
    width: 105px;
    overflow: hidden;
}

    .details-document .details-actions-document a {
        display: flex;
        align-self: center;
        margin: 5px;
    }

    .details-document .details-actions-document:hover {
        width: 668px;
        border-radius: 10px;
        background-color: white;
    }

.dynamic-block-add-stage > form {
    display: flex;
    flex-direction: column;
}

    .dynamic-block-add-stage > form div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .dynamic-block-add-stage > form div label {
            width: 150px;
        }

#dropArea {
    background: #d2d2d2;
    border: black dashed 1px;
    height: 80px;
    text-align: center;
    color: #3d5279;
    padding-top: 0;
}

.active-drop {
    background: #77bafa !important;
    border: solid 2px blue !important;
    opacity: .5;
    color: black !important;
}

.pressMe {
}
