* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h2 {
    color: #282828;
    align-self: center;
    margin: 20px;
}

html {
    height: 100%;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

body {
    height: 100%;
    position: relative;
    background-image: url(images/bodyBg.jpg);
    background-size: cover;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    height: 50px;
    padding: 15px;
    color: white;
    z-index: 999;
}

    .footer > p {
        text-align: center;
    }

.tableMaterial {
    background-color: white;
    opacity: 0.86;
    overflow: hidden;
    box-shadow: 6px 5px 12px 1px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

    .tableMaterial:hover {
        box-shadow: 10px 9px 15px 1px rgba(0, 0, 0, 0.4);
    }

.navbar-brand {
    width: 50px;
    background-image: url("images/logo_tpu.png");
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }

    .navbar-right {
        display: inline;
        padding-right: 6px;
    }

        .navbar-right > li a:hover {
            background: #505b69;
        }

    .main-menu > li > a {
        display: block;
        font-weight: 500;
        color: white;
        margin-right: 7px;
    }

        .main-menu > li > a:hover,
        .main-menu > li > a:focus {
            background-color: #505b69;
        }
}

.navbar {
    background-color: #241717;
}

.dl-horizontal {
    font-size: 22px;
    margin-top: 20px;
}

    .dl-horizontal > dt {
        display: block;
        width: 210px;
        height: 35px;
        text-align: left;
    }

        .dl-horizontal > dt :hover {
            background-color: darkgray;
            transition: background-color 0.5s;
        }

    .dl-horizontal > dd {
        margin-left: 210px;
        height: 35px;
    }

        .dl-horizontal > dd a {
            display: inline-block;
        }

        .dl-horizontal > dd span {
            display: inline;
            line-height: 35px;
            vertical-align: middle;
        }

.tables {
    padding: 0;
}

.titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: white;
}

    .titles > div {
        text-align: center;
        background-color: #3d5279;
        height: 55px;
        font-size: 18px;
        line-height: 55px;
    }

        .titles > div:last-child {
            border-right: none;
        }

.btn-form {
    align-self: flex-start;
}

.properties {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid darkgray;
}

    .properties:last-of-type {
        border-bottom: none;
    }

    .properties:hover {
        background-color: #e6e6e6;
    }

    .properties > div {
        padding: 7px 0;
        height: auto;
        font-size: 16px;
        text-align: center;
        display: flex;
    }

        .properties > div:last-child {
            display: flex;
            border-right: none;
        }

        .properties > div:first-child a {
            color: black;
            text-decoration: none;
            width: auto;
            margin-left: 5px;
            position: relative;
            text-align: left;
            font-size: 20px;
            align-self: center;
        }

            .properties > div:first-child a:after {
                height: 3px;
                width: 100%;
                background: #d41955;
                content: "";
                position: absolute;
                left: 0px;
                bottom: 0;
                transition: all .3s;
                transform: scaleX(0);
            }

            .properties > div:first-child a:hover:after {
                transform: scaleX(1);
            }

        .properties > div span {
            margin: auto;
        }

    .properties .dynamicItem {
        margin: 0 auto;
    }

        .properties .dynamicItem form {
            display: flex;
            flex-direction: column;
            width: 500px;
        }

            .properties .dynamicItem form .form-group {
                display: flex;
            }

                .properties .dynamicItem form .form-group label {
                    margin: 0 10px 5px 0;
                    width: 200px;
                    text-align: left;
                }

    .properties .buttons-container {
        margin: auto;
        align-self: center;
    }

        .properties .buttons-container > a {
            margin-bottom: 0;
        }

.dynamicBlock {
    display: none;
}

@media screen and (max-width: 479px) {
    .nav-tabs-responsive > li {
        display: none;
        width: 23%;
    }

        .nav-tabs-responsive > li > a {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            width: 100%;
            text-align: center;
            vertical-align: top;
        }

        .nav-tabs-responsive > li .active {
            width: 54%;
        }

            .nav-tabs-responsive > li .active:first-child {
                margin-left: 23%;
            }

        .nav-tabs-responsive > li .active,
        .nav-tabs-responsive > li .prev,
        .nav-tabs-responsive > li .next {
            display: block;
        }

        .nav-tabs-responsive > li .prev,
        .nav-tabs-responsive > li .next {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

            .nav-tabs-responsive > li .prev > a,
            .nav-tabs-responsive > li .next > a {
                -webkit-transition: none;
                transition: none;
            }

                .nav-tabs-responsive > li .prev > a .text,
                .nav-tabs-responsive > li .next > a .text {
                    display: none;
                }

                .nav-tabs-responsive > li .prev > a:after,
                .nav-tabs-responsive > li .next > a:after {
                    position: relative;
                    top: 1px;
                    display: inline-block;
                    font-family: "Glyphicons Halflings";
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }

                .nav-tabs-responsive > li .prev > a:after {
                    content: "\e079";
                }

                .nav-tabs-responsive > li .next > a:after {
                    content: "\e080";
                }

        .nav-tabs-responsive > li .dropdown > a > .caret {
            display: none;
        }

        .nav-tabs-responsive > li .dropdown > a:after {
            content: "\e114";
        }

        .nav-tabs-responsive > li .dropdown .active > a:after {
            display: none;
        }

        .nav-tabs-responsive > li .dropdown .active > a .caret {
            display: inline-block;
        }

        .nav-tabs-responsive > li .dropdown .dropdown-menu .pull-xs-left {
            left: 0;
            right: auto;
        }

        .nav-tabs-responsive > li .dropdown .dropdown-menu .pull-xs-center {
            right: auto;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .nav-tabs-responsive > li .dropdown .dropdown-menu .pull-xs-right {
            left: auto;
            right: 0;
        }
}

@media (max-width: 479px) {
    #narrow-browser-alert {
        display: none;
    }
}

#docsTab {
    margin-top: 30px;
}

.inner-list {
    padding: 40px;
}

.formContainer {
    margin-top: 20px;
    margin-bottom: 10px;
}

.createBtn {
    margin-bottom: 10px;
}

.disabled-btn {
    background: lightgrey;
    border-color: grey;
    color: black;
}

.download-Btn {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    padding: 5px 0px;
    width: 110px;
    border-radius: 4px;
    overflow: hidden;
    transition: all .2s linear 0s;
    background: #F28123;
    font-size: 16px;
}

    .download-Btn:before {
        content: "\f019";
        font-family: FontAwesome;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -30px;
        width: 30px;
        height: 100%;
        background-color: #F28123;
        transition: all 0.2s linear 0s;
        text-align: center;
    }

.costum-btn {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    padding: 5px 0px;
    width: 110px;
    border-radius: 4px;
    background: #F28123;
    font-size: 16px;
}

.costum-btn_edit::before {
    content: "\f040";
    font-family: FontAwesome;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.float-label {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

    .float-label .control {
        display: flex;
        float: left;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

        .float-label .control:last-child {
            border: 0;
        }

        .float-label .control span {
            display: block;
            margin-left: 40px;
            font-size: 32px;
        }

    .float-label .control-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

        .float-label .control-buttons .small {
            padding: 10px 0;
            border-bottom: none;
        }

            .float-label .control-buttons .small a {
                display: flex;
                margin: auto;
            }

.details-document h3 {
    text-decoration: underline;
}

.details-document .details-actions-document {
    display: flex;
    flex-direction: row;
    z-index: 10;
    padding: 5px 5px;
    transition: all 1s;
    width: 105px;
    overflow: hidden;
}

    .details-document .details-actions-document a {
        display: flex;
        align-self: center;
        margin: 5px;
    }

    .details-document .details-actions-document:hover {
        width: 668px;
        border-radius: 10px;
        background-color: white;
    }

.dynamic-block-create > form {
    display: flex;
    flex-direction: column;
}

    .dynamic-block-create > form div {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 17px;
    }

        .dynamic-block-create > form div option {
            font-size: 16px;
        }

        .dynamic-block-create > form div label {
            width: 180px;
        }

.dynamic-block-add-stage > form {
    display: flex;
    flex-direction: column;
}

    .dynamic-block-add-stage > form div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .dynamic-block-add-stage > form div label {
            width: 150px;
        }

.titleLink {
    text-align: left !important;
    color: #006186 !important;
    padding: 0 10px 0 10px;
}

    .titleLink:hover {
        color: #d41955 !important;
    }
