//Main veriables
@body-color: #EEF1F5;
@dark-color: #241717;
@main-fonts: "Open Sans", Helvetica, Arial, sans-serif;
@borders: 1px solid darkgray;
@pcWidth: 768px;
@float-border: 1px solid #ddd;
@padding: 10px;
@label-font-size: 13px;
@demensionHeight: 35px;

* {
    padding: 0;
    margin: 0;
    font-family: @main-fonts;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    background-color: @body-color;
    margin-bottom: 50px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    height: 50px;
    width: 100%;
    padding: 15px;
    color: white;
    background: @dark-color;
}

.navbar-brand {
    width: 50px;
    background-image: url("images/logo_tpu.png");
    background-repeat: no-repeat;
}

@media (min-width: @pcWidth) {
    .container {
        width: 100%;
    }

    .navbar-right {
        display: block;
        padding-right: 15px;

        > li {
            a {
                &:hover {
                    background: #505b69;
                }
            }
        }
    }

    .main-menu {
        > li {
            > a {
                display: block;
                font-weight: 500;
                color: white;
                margin-right: 7px;

                &:hover,
                &:focus {
                    background-color: #505b69;
                }
            }
        }
    }
}

.navbar {
    background-color: #241717;
}

.dynamicBlock {
    display: none;
}

.dl-horizontal {
    font-size: 22px;
    margin-top: 20px;

    > dt {
        display: block;
        width: 210px;
        height: @demensionHeight;
        text-align: left;
        :hover{
            background-color: darkgray;
            transition: background-color 0.5s ;
        }
    }

    > dd {
        margin-left: 210px;
        height: @demensionHeight;
        a{
            display: inline-block;
        }
        span{
            display: inline;
            line-height: @demensionHeight;
            vertical-align: middle;
        }
    }

}



//--------------------Стили для таблиц------------------------------------
.tables{
    padding: 0;
}

//--------------------Стили заголовков для таблиц-------------------------
.titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    > div {
        text-align: center;
        background-color: #d6d6d6;
        height: 55px;
        font-size: 18px;
        line-height: 55px;

        &:last-child {
            border-right: none;
        }
    }
}
//--------------------Стили заголовков для таблиц-------------------------

//-----------------------Стили элементов таблиц----------------------------
.properties {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: @borders;

    &:hover {
        background-color: #e6e6e6;
    }

    > div {
        padding: 15px 0;
        text-align: center;
        height: auto;
        font-size: 20px;
        text-align: center;
        display: flex;

        &:last-child {
            display: flex;
            border-right: none;
        }

        &:first-child {
            a {
                color: black;
                text-decoration: none;
                width: auto;
                margin-left: 5px;
                position: relative;
                text-align: center;
                font-size: 26px;

                &:after {
                    height: 3px;
                    width: 100%;
                    background: black;
                    content: "";
                    position: absolute;
                    left: 0px;
                    bottom: 0;
                    transition: all .3s;
                    transform: scaleX(0);
                }

                &:hover {
                    &:after {
                        transform: scaleX(1);
                    }
                }
            }
        }

        span {
            margin: auto;
        }
    }

    .dynamicItem {
        margin: 0 auto;

        form {
            display: flex;
            flex-direction: column;
            width: 500px;
            .btn-form{
                width: 100px;
                align-self: center;
            } 
            .form-group {
                display: flex;

                label {
                    margin: 0 10px 5px 0;
                    width: 200px;
                    text-align: left;
                }
            }
        }
    }

    .buttons-container {
        margin: auto;
        align-self: center;

        > a {
            margin-bottom: 0;
        }
    }
}

//-----------------------Стили элементов таблиц----------------------------

@media screen and (max-width: 479px) {
    .nav-tabs-responsive {
        > li {
            display: none;
            width: 23%;

            > a {
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-wrap: normal;
                width: 100%;
                text-align: center;
                vertical-align: top;
            }

            .active {
                width: 54%;

                &:first-child {
                    margin-left: 23%;
                }
            }

            .active, .prev, .next {
                display: block;
            }

            .prev, .next {
                -webkit-transform: scale(0.9);
                transform: scale(0.9);

                > a {
                    -webkit-transition: none;
                    transition: none;

                    .text {
                        display: none;
                    }

                    &:after {
                        position: relative;
                        top: 1px;
                        display: inline-block;
                        font-family: "Glyphicons Halflings";
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
            }

            .prev {
                > a:after {
                    content: "\e079";
                }
            }

            .next {
                > a:after {
                    content: "\e080";
                }
            }

            .dropdown {
                > a {
                    > .caret {
                        display: none;
                    }

                    &:after {
                        content: "\e114";
                    }
                }

                .active {
                    > a {
                        &:after {
                            display: none;
                        }

                        .caret {
                            display: inline-block;
                        }
                    }
                }

                .dropdown-menu {
                    .pull-xs-left {
                        left: 0;
                        right: auto;
                    }

                    .pull-xs-center {
                        right: auto;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                        transform: translateX(-50%);
                    }

                    .pull-xs-right {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 479px) {
    #narrow-browser-alert {
        display: none;
    }
}

#docsTab {
    margin-top: 30px;
}

.inner-list {
    padding: 40px;
}

.formContainer {
    margin-top: 20px;
    margin-bottom: 10px;
}

.createBtn {
    margin-bottom: 10px;
}

.disabled-btn {
    background: lightgrey;
    border-color: grey;
    color: white;
}

.filters {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;

    li {
        display: inline-block;

        a {
            display: block;
            padding: 8px 10px;
            color: black;
            text-decoration: none;
            transition: 0.4s;
            border-radius: 30px;

            &:hover {
                background: #241717;
                color: white;
            }
        }
    }
}

.filter-active {
    background: #241717;
    color: white !important;
}

.download-Btn {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    padding: 5px 0px;
    width: 110px;
    border-radius: 4px;
    overflow: hidden;
    transition: all .2s linear 0s;
    background: #F28123;
    font-size: 16px;

    &:before {
        content: "\f019";
        font-family: FontAwesome;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -30px;
        width: 30px;
        height: 100%;
        background-color: #F28123;
        transition: all 0.2s linear 0s;
        text-align: center;
    }

    &:hover {
        text-indent: -30px;
        text-decoration: none;
        color: white;

        &:before {
            right: 0;
            text-indent: 0px;
        }
    }
}

// float label
.float-label {
    display: flex;
    flex-wrap: wrap;
    width: 450px;

    .control {
        display: flex;
        float: left;
        position: relative;
        width: 100%;
        border-bottom: @float-border;
        // you proably want to replace these with your grid classes
        &:last-child {
            border: 0;
        }

        span {
            display: block;
            margin-left: 40px;
            font-size: 32px;
        }
    }

    .control-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .small {
            padding: 10px 0;
            border-bottom: none;
            a{
                display: flex;
                margin: auto;
            }
        }
    }
}